
services:
  postgres:
    image: ${DB_IMAGE}
    container_name: ${DOCKER_PROFILE}
    restart: unless-stopped
    environment:
      POSTGRES_USER: ${DB_USER}
      POSTGRES_PASSWORD: ${DB_PASSWORD}
      POSTGRES_DB: ${DB_NAME}
    ports:
      - "6543:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U app -d ${DB_NAME}"]
      interval: 5s
      timeout: 3s
      retries: 10

volumes:
  pgdata:
    driver: local